.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .container {
  height: calc(100vh - 100px);
  background-color: #d1411e;
  overflow: hidden;
  position: relative;
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out ;
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 480px) {
  .container{
    height: 50vh;
  }
} */